.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 20px;
  max-width: max-content;
  background-color: #b1191e;
  border-radius: 2px;
}
.button:hover, .button:active, .button:focus {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}
.button--center {
  margin: 0 auto;
}
.button--big {
  min-width: 387px;
}

.destinations-announcement {
  list-style: none !important;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
  margin-bottom: 40px;
}

.destinations-announcement__link {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}
.destinations-announcement__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.destinations-announcement__link:nth-child(10n+1) {
  grid-row: span 2;
  grid-column: span 2;
}
.destinations-announcement__link:nth-child(10n+1) .destinations-announcement__title {
  font-size: 30px;
}

.destinations-announcement__link:nth-child(10n+6) {
  grid-row: span 2;
  grid-column: 3/span 2;
}
.destinations-announcement__link:nth-child(10n+6) .destinations-announcement__title {
  font-size: 30px;
}

.destinations-announcement__details {
  position: absolute;
  bottom: 0;
  left: 0;
}

.destinations-announcement__photo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.6s;
}

.destinations-announcement__details {
  padding: 20px;
  padding-right: 65px;
  z-index: 5;
  color: #ffffff;
  transition: all 0.6s;
}

.destinations-announcement__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-family: "Tenor Sans";
  position: relative;
  max-width: max-content;
}
.destinations-announcement__title::after {
  content: "";
  display: block;
  width: 48px;
  height: 1px;
  background-color: #d9d9d9;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: width 0.6s;
}

.destinations-announcement__text {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-family: "Montserrat";
}

.destinations-announcement__link:hover .destinations-announcement__details {
  transform: translateY(-5px);
}
.destinations-announcement__link:hover .destinations-announcement__photo {
  scale: 1.05;
}
.destinations-announcement__link:hover .destinations-announcement__title::after {
  width: 100%;
}

.catalog__header-title--mod {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.33;
  font-family: "Tenor Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog__header-subtitle {
  margin-top: 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #000100;
  opacity: 0.6;
}
.catalog__header-subtitle:last-child {
  margin-bottom: 32px;
}

.cust-article-full__back-link span {
  color: #383b47 !important;
  display: block;
  font-size: 14px;
}

@media (max-width: 900px) {
  .destinations-announcement {
    grid-template-columns: repeat(2, 1fr);
  }
  .destinations-announcement__link:nth-child(10n+1) {
    grid-row: initial;
    grid-column: initial;
  }
  .destinations-announcement__link:nth-child(10n+6) {
    grid-row: initial;
    grid-column: initial;
  }
  .destinations-announcement__title {
    font-size: 26px !important;
  }
}
@media (max-width: 650px) {
  .destinations-announcement {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 30px;
  }
  .destinations-announcement__details {
    position: initial;
    padding: 0 !important;
  }
  .destinations-announcement__title {
    font-size: 18px !important;
    color: #000100;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .destinations-announcement__title::after {
    display: none;
  }
  .destinations-announcement__text {
    color: #000100;
    opacity: 0.7;
  }
  .destinations-announcement__link::after {
    display: none;
  }
  .destinations-announcement__photo {
    width: initial;
    height: initial;
    object-fit: initial;
  }
  .destinations-announcement__link {
    display: grid;
    gap: 20px;
    grid-template-columns: 120px 1fr;
    align-items: center;
    color: #000100 !important;
    text-decoration: none !important;
  }
  .destinations-announcement__link:hover .destinations-announcement__photo {
    scale: initial;
  }
  .destinations-announcement__link:hover .destinations-announcement__details {
    transform: none;
  }
  .destinations-announcement__link:nth-child(2n) {
    grid-template-columns: 1fr 120px;
  }
  .destinations-announcement__link:nth-child(2n) .destinations-announcement__photo {
    order: 2;
  }
  .destinations-announcement__link:nth-child(2n) .destinations-announcement__text {
    text-align: right;
  }
  .destinations-announcement__link:nth-child(2n) .destinations-announcement__title {
    text-align: right;
    max-width: initial;
  }
  .button--big {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}