.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 13px 20px;
  max-width: max-content;
  background-color: #b1191e;
  border-radius: 2px;
  &:hover {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.8;

  }
  &--center {
    margin: 0 auto;
  }
  &--big {
    min-width: 387px;
  }
}

.destinations-announcement {
  list-style: none !important;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  grid-auto-flow: dense;
  margin-bottom: 40px;
}

.destinations-announcement__link {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

.destinations-announcement__link:nth-child(10n + 1) {
  grid-row: span 2;
  grid-column: span 2;

  .destinations-announcement__title {
    font-size: 30px;
  }
}

.destinations-announcement__link:nth-child(10n + 6) {
  grid-row: span 2;
  grid-column: 3 / span 2;
  .destinations-announcement__title {
    font-size: 30px;
  }
}

.destinations-announcement__details {
  position: absolute;
  bottom: 0;
  left: 0;
}

.destinations-announcement__photo {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.6s;
}

.destinations-announcement__details {
  padding: 20px;
  padding-right: 65px;
  z-index: 5;
  color: #ffffff;
  transition: all 0.6s;
}

.destinations-announcement__title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 12px;
  margin-bottom: 12px;
  font-family: "Tenor Sans";
  position: relative;
  max-width: max-content;
  &::after {
    content: "";
    display: block;
    width: 48px;
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    transition: width 0.6s;
  }
}

.destinations-announcement__text {
  margin: 0;
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-family: "Montserrat";
}

.destinations-announcement__link:hover {
  .destinations-announcement__details {
    transform: translateY(-5px);
  }
  .destinations-announcement__photo {
    scale: 1.05;
  }
  .destinations-announcement__title::after {
    width: 100%;
    // opacity: 1;
  }
}


